/* src/pages/AboutUs.css */
.about-us {
    text-align: center ;
    
  }
  
  .team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    color: rgb(210, 96, 3);
  }
  
  .team-member {
    margin: 20px;
    text-align: center;
    
  }
  
  .profile-image {
    width: 250px; /* Set a fixed width */
    height: 250px; /* Set the height equal to the width to make it square */
    border-radius: 20px; /* Set a specific border-radius to round the edges */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
  